{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %} 
    <link rel="stylesheet" href="{% static  "css/despesa.css" %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
{% endblock 'head' %}

{% block 'conteudo' %}

 

<header class="header">
    
    <div class="sidebar">
        <a class="sidebar-linha" href="{% url 'historico_despesa' %}">Histórico Despesa</a>
        <span class="sidebar-pagina">Registro Despesa</span>        
    </div>

    <div class="container-fluid">
        {% if messages %} 
            {% for message in messages %}
                <div class= "alert {{ message.tags }}" style="margin-top: 10px" >{{ message }} </div>
            {% endfor %}        
        {% endif %}
    
    
        <div class="centralizar-form">
            <div class="form-despesa">
                <form action="" method="POST" id="myForm"> {% csrf_token %}               
                    <h1 class="mb-4">Registrar Despesa</h1>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Data</label>
                            <input type="date" class="form-control" name="data" value={{data_atual}}>
                        </div>
                        <div class="col-3">
                            <label>Valor</label>
                            <input type="number" step="0.01" class="form-control" name="valor">
                        </div>
                        <div class="col">
                            <label>Caixa</label>
                            <select name="caixa" class="form-select">
                                {% for caixa in caixas %}
                                    <option>{{caixa}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                
                    <div class="row mb-2">
                        <div class="col-5">                 
                            <label for="categoria">Categoria</label>
                            <select class="form-select" id="categoria" name="categoria">                        
                            {% for categoria in categorias %}
                                <option value="{{ categoria }}">{{categoria.nome_categoria}}</option>
                            {% endfor %}
                            </select>
                            
                        </div>
                        <div class="col">                    
                            <label for="subcategoria">Subcategoria</label>
                            <select class="form-select" id="subcategoria" name="subcategoria">                               
                                <!-- Opções de subcategorias serão preenchidas dinamicamente com JavaScript -->
                            </select>
                        </div>
                        <div class="col">
                            <label>Tipo</label>
                            <select class="form-select" name="tipo_pagamento">
                                {% for tipo in tipo_pagamento %}
                                    <option>{{tipo}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row mb-2">                
                            <div class="col">
                                <label>Observação</label>
                                <textarea class="form-control" name="observacao" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                
                    <button type="submit" class="btn-despesa">Registrar</button>
                </form>       
            </div>
        </div>
    </div>
</header>

<script>
    document.getElementById('categoria').addEventListener('change', function() {
      var categoriaId = this.value;
      var subcategoriaSelect = document.getElementById('subcategoria');
    
      // Limpar as opções atuais
      subcategoriaSelect.innerHTML = '';
    
      // Obter as subcategorias associadas à categoria selecionada
      var subcategorias = categoriasSubcategorias[categoriaId];
    
      // Adicionar as opções de subcategorias ao select
      subcategorias.forEach(function(subcategoria) {
        var option = document.createElement('option');
        option.value = subcategoria.id;
        option.text = subcategoria.nome;
        subcategoriaSelect.add(option);
      });
    });
    
    // Variável JavaScript que contém um mapeamento de categoria para subcategorias
    var categoriasSubcategorias = {
      {% for categoria in categorias %}
        "{{ categoria }}": [
          {% for subcategoria in categoria.subcategoria_set.all %}
            { "id": "{{ subcategoria }}", "nome": "{{ subcategoria.nome_subcategoria }}" },
          {% endfor %}
        ],
      {% endfor %}
    };
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% comment %} <script>
    $(document).ready(function () {
        $('#selectOption').change(function () {
            // Captura o valor selecionado
            var selectedValue = $(this).val();

            // Atualiza o campo oculto
            $('#selectedValue').val(selectedValue);

            // Envia a requisição AJAX
            $.ajax({
                type: 'POST',
                url: '/financeiro/registro_despesa/',
                data: $('#myForm').serialize(),
                success: function (data) {
                    // Atualiza o resultado na div 'result'
                    $('#result').html(data);
                    
                }
            });
        });
    });
</script> {% endcomment %}


{% endblock 'conteudo' %}
